* {
  font-family: "Roboto", sans-serif;
}

.formatter-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.formatter-form {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 580px;
}

.input-wrapper {
  font-family: "Montserrat", sans-serif;
  min-height: 170px;
}

.label {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.formatter-input {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 6px;
  margin-top: 1rem;
  outline: none;
}

.formatter-input:focus {
  outline: 2px solid #4871cd;
}

.error {
  color: red;
  font-size: bold;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0.5rem;
}

.creditcard-wrapper {
  margin-top: 4rem;
  position: relative;
  width: 290px;
  height: 180px;
  background: linear-gradient(90deg, #fdbb2d 0%, #22c1c3 100%);
  border-radius: 8px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.3);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.3);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.3);
}

.creditcard-wrapper p {
  position: absolute;
  color: #fff;
  letter-spacing: 1.4px;
}

.creditcard-number {
  font-family: "Credit Card", sans-serif;
  position: absolute;
  color: #fff;
  font-size: 0.9rem;
  bottom: 72px;
  left: 20px;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.creditcard-recipient {
  bottom: 12px;
  left: 20px;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.creditcard-valid {
  font-size: 0.5rem;
  bottom: 42px;
  left: 98px;
  width: 28px;
  line-height: 8px;
}

.creditcard-date {
  font-family: "Credit Card", sans-serif;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  left: 128px;
  bottom: 40px;
  font-size: 12px;
}

.creditcard-bankname {
  font-weight: 900;
  right: 24px;
  top: 10px;
  font-size: 1.5rem;
}

.creditcard-logo {
  position: absolute;
  bottom: 30px;
  right: 30px;
  filter: invert(1);
}

.creditcard-chip {
  position: absolute;
  top: 14px;
  left: 12px;
}

.creditcard-questionmark {
  position: absolute;
  top: 52px;
  left: 121px;
  animation: 1s pulse infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}
