* {
  font-family: "Roboto", sans-serif;
}

.formatter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formatter-input {
  font-family: "Montserrat", sans-serif;
  width: 180px;
}

.label {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: red;
  font-size: bold;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 4px;
}

.creditcard-wrapper {
  margin-top: 40px;
  position: relative;
  width: 290px;
  height: 180px;
  background: linear-gradient(90deg, #fdbb2d 0%, #22c1c3 100%);
  border-radius: 8px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.3);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.3);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.3);
}

.creditcard-wrapper p {
  position: absolute;
  color: #fff;
  letter-spacing: 1.4px;
}

.creditcard-number {
  font-family: "Credit Card", sans-serif;
  position: absolute;
  color: #fff;
  font-size: 0.9rem;
  bottom: 72px;
  left: 20px;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.creditcard-recipient {
  bottom: 12px;
  left: 20px;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.creditcard-valid {
  font-size: 0.5rem;
  bottom: 42px;
  left: 98px;
  width: 28px;
  line-height: 8px;
}

.creditcard-date {
  font-family: "Credit Card", sans-serif;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  left: 128px;
  bottom: 40px;
  font-size: 12px;
}

.creditcard-bankname {
  font-weight: 900;
  right: 24px;
  top: 10px;
  font-size: 1.5rem;
}

.creditcard-logo {
  position: absolute;
  bottom: 30px;
  right: 30px;
  filter: invert(1);
}

.creditcard-chip {
  position: absolute;
  top: 14px;
  left: 12px;
}
