.card-wrapper {
  display: flex;
  position: relative;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 3rem;
  margin: 1rem;
  margin-bottom: 3rem;
  color: var(--main-color);
  max-width: 600px;
}

.card-title {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
  padding: 1rem;
}

.card-subtitle {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.card-body {
  font-size: 0.85rem;
  letter-spacing: 2px;
  line-height: 1.5rem;
  align-self: flex-start;
  margin-top: 1rem;
  margin-bottom: 3rem;
  max-width: 500px;
  align-self: center;
}

.card-footer {
  position: absolute;
  bottom: 2rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
}
