.header-wrapper {
  position: sticky;
  height: 80px;
  width: 100%;
  background-color: #0c356a;
  color: #ffc436;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 6%;
}

.navbar-list {
  list-style-type: none;
}

h1 {
  color: #ffc436;
  text-decoration: none;
}
