* {
  text-decoration: none;
  color: var(--main-color);
}

.header-wrapper {
  position: sticky;
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 6%;
  margin-top: 6rem;
}

.header-title a h1 {
  font-family: "Russo One", sans-serif;
  font-size: 4rem;
  text-decoration: none;
}

.navbar-list {
  list-style-type: none;
}
