main {
  height: 82dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
}

.content {
  margin: 3rem;
  max-width: 600px;
  text-align: justify;
  /* From https://css.glass */
  border-radius: 16px;
  padding: 6rem;
}
