<main class="main-background">
  <mat-drawer-container class="container">
    <mat-drawer class="glass-card side-container" mode="side" opened
      ><app-side-navigation
    /></mat-drawer>
    <mat-drawer-content class="main-content">
      @if(challengeNumber) {
      <app-challenge
        [title]="challenges[challengeNumber - 1].title"
        [description]="challenges[challengeNumber - 1].description" />
      }
      <router-outlet
    /></mat-drawer-content>
  </mat-drawer-container>
</main>
