.loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader-icon {
  animation: spin 1.5s linear infinite;
  margin: 1rem 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
