.challenge-nav {
  list-style: none;
  align-items: center;
  padding: 0;
}

.challenge-link {
  text-transform: capitalize;
  /* border-bottom: 1px solid #e7dfed; */
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
  color: #4871cd;
  padding: 0 14px;
  transition: transform 0.2s;
  padding: 20px;
  transition: padding-left 0.4s;
}

img {
  visibility: hidden;
}

.active {
  /* border-left: 6px solid #14131f; */
  padding-left: 36px;
  font-weight: 600;
  transition: padding-left 0.2s;
}

.active img {
  visibility: visible;
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}
