section {
  display: flex;
  height: 100dvh;
  width: 100%;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
}

h1,
video {
  align-self: center;
}

video {
  margin-top: 5rem;
}
